.playing-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.playing-field > *{
    margin: 0 10px;
}
.playing-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button-holder{
    display: flex;
    flex-direction: column;
    align-items:start;
    height: 100%;   

}
.option-btns-wrapper{
    display: flex;
    flex-direction: row;
    align-items:center;
       

}
.result {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    animation: resultAnimation 1s ease-in-out;
    transition: opacity 1s animation 1s; /* Use visibility property for transition */   
}

@keyframes resultAnimation {
    0% {
        visibility: hidden; /* Initially hide the element */
        opacity: 0; /* Initially make it transparent */
        transform: translateY(200%);
    }
    100% {
        visibility: visible; /* Make the element visible */
        opacity: 1; /* Fade it in */
        transform: translateY(0);
    }
}



@media (max-width: 870px) {

    
    .playing-conatiner{
        flex-direction: column-reverse;
    }
    .option-btns-wrapper{
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
       
    }

    .result{
        display: block;
       
    }
    
}


@media (max-height: 412px) {

    .result{
        display: block;
       
       font-size: 1.2rem;
        margin-top: -0.5rem;
    }
    
}

