nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-top:1rem ;
    border-bottom: white solid 0.001cm;
}

a{  
    justify-content: center;
    width: 143px;
    height: 100%;
    display: inline-flex; 
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(202, 192, 192);
    text-align: center;
    padding: 0 0.4rem;
}
a:hover{
    background-color: rgb(34, 34, 59); ;
}
.active{
    border-bottom: orange solid 3px;
}