html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use min-height instead of height to ensure it takes full viewport height */
    background-color: rgb(3, 3, 36);
    color: rgb(202, 192, 192);
}
